body {
  line-height: 1.6rem;

  background-color: #f4f6f9;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #444444;
}
header {
  line-height: 3rem;
  background-color: #4ea54e;
  color: white;
  padding: 25px 0;
  text-align: center;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}
header h1 {
  margin: 0;
  font-size: 2.5rem;
}
nav {
  background-color: rgb(66, 66, 66);
  text-align: center;
  /* padding: 12px 0; */
}
nav a {
  color: white;
  margin: 0 20px;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
}
nav a:hover {
  color: tomato;
  text-decoration: underline;
}
section {
  margin: 25px auto;
  padding: 25px;
  background-color: white;
  max-width: 900px;
  border-radius: 8px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  transition: background-color 0.3s ease;
}
section:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
section h2 {
  color: blue;
  padding-bottom: 20px;
}
table {
  border-collapse: collapse;
  width: 100%;
}
table th,
table td {
  text-align: left;
  border: 1px solid gray;
  padding: 10px;
}
table th {
  background-color: #b1b1b1;
}
table tr:nth-child(even) {
  background-color: #e7e7e7;
}
ul {
  list-style: none;
  padding: 0;
  font-size: 1.2rem;
}
ul li strong {
  color: rgb(20, 129, 184);
}
form {
  max-width: 650px;
  margin: 25px auto;
}
form label {
  font-size: 1.2rem;
  font-weight: 600;
  display: block;
  margin-bottom: 5px;
}
form input,
form textarea,
form button {
  width: 100%;
  border: 1px solid grey;
  border-radius: 8px;
  letter-spacing: 1px;
  font-size: 1.1rem;
  padding: 12px;
}
form input:focus,
form textarea:focus {
  border-color: blue;
  outline: none;
}
form button {
  background-color: blue;
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  transition: background-color 0.3s ease;
}
form button:hover {
  background-color: rgb(0, 166, 255);
}
form button:active {
  background-color: rgb(0, 0, 155);
}
